*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
display: none;
}
.main{
    width: 100%;
    height: 100%;
    animation: main 3s ease;
}
@keyframes main{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.bg{
    /*background: linear-gradient(90deg, rgba(0,212,255,1)0%, rgba(98,9,121,1) 47%, rgba(2,0,36,1)100%);*/
    height: 2900px;
    /*background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(springs.jpg); */
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.logo{
    display: block;
    margin-left: 50px;
    margin-top:0px;
    animation: logoslide 1.5s both;
}
@keyframes logoslide {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}
.menu ul{
    display:flex;
    font-size:20px;
    width: 540px;
    height: 50px;
    letter-spacing: 0px;
    margin-top:5%;
    margin-right:30px;
    box-shadow: 4px 4px 15px black;
    animation:show 3s both;
    animation-delay: 1s;
    transition: transform 0.75s ease;
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.menu ul li{
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin-top:auto;
    margin-bottom:auto;
    animation: slide 1.5s both;
    animation-delay: 2s;
    transition: 0.3s ease;
}
.menu ul li:nth-child(2){
    animation-delay: 2.5s;
}
.menu ul li:nth-child(3){
    animation-delay: 3s;
}
@keyframes slide {
    0%{
        opacity: 0;
        transform: translateX(800px);
        
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.menu ul li a{
    text-decoration: none;
    color: black;
    margin: 30px;   
    transition: transform 0.75s linear;;
}
.menu ul li:hover{
    padding-bottom:7.5px;
    scale: 1.1;
}
.cytat{
    display: block;
    height: 45px;
    width: 750px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 40px;
    color:black;
    font-style: italic;
    margin-top:30px;
    opacity: 0.5;
    letter-spacing: 2px;
    animation: cytatslide 2s both;
    animation-delay: 2.75s;
    text-shadow: 1px 1px black;
}
@keyframes cytatslide{ 
    0%{
        transform:translateY(-500px);
    }
    100%{
        transform:translateY(0px);
    }
}
.arrow{
    position: absolute;
    top:85%;
    left:5%;
    transform:translate(-85%, -5%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom:5px solid black;
    border-right:5px solid black;
    transform: rotate(45deg);
    margin:-5px;
    animation: scroll 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -.2s;
}
.arrow span:nth-child(3){
    animation-delay: -.4s;
}
@keyframes scroll{
    0%{
        opacity:0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform: rotate(45deg) translate(10px,10px);
    }
}
.baner{
    margin:0;
    padding:0;
    height: 725px;
}
#mid{
    margin:0;
    transform: translateY(5vh);
    margin-left: auto;
    margin-right: auto;
    margin-top:75px;
    width: 95%;
    height: 2750px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 5px rgba(66, 68, 90, 1);
    background-color: rgb(10,10,10, .30);
    backdrop-filter: blur(7.5px);
}
.bg_firma{
    background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(section1.png);
    height: 950px;
}
#firma{
    height: 950px;
}
#firma p{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: white;
    padding-top:75px;
}
.boxy{
    display: grid;
    column-gap: 100px;
    justify-content: center;
    grid-template-columns: auto auto auto;
    margin-top:200px;
    height: 400px;
}
.box,.box1,.box2{
    font-weight: 500;
    width: 400px;
    height: 105px;
    border-radius:20px;
    box-shadow: -3px 3px 10px 2px black;
    color:white;
    transition: 0.75s ease;
    cursor:pointer;
}
.box:hover{
    background-color: rgb(193, 193, 193, 0.3);
}
.box1:hover{
    background-color: rgb(193, 193, 193, 0.3);
}
.box2:hover{
    background-color: rgb(193, 193, 193, 0.3);
}
.box h2{
    font-size:40px;
    text-align: center;
    padding-top:30px;
    padding-bottom: 10px;
}
.box h6{
    font-weight: 500;
    font-size:20px;
    padding-top:40px;
    margin:10px;
    text-align: center;
    padding: 10px;
    display: none;
    border-radius:25px;
}
@keyframes animate{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.box.active{
    width: 400px;
    height: 400px;
}
.h6.active{
    animation: animate 1s;
    display: block;
}
.box1 h2{
    font-size:40px;
    text-align: center;
    padding-top:30px;
    padding-bottom: 10px;
}
.box1 h6{
    font-weight: 500;
    font-size:20px;
    padding-top:40px;
    margin:10px;
    text-align: center;
    padding: 10px;
    display: none;
    border-radius:25px;
}
.box1.active{
    width: 400px;
    height: 400px;
}
.h61.active{
    animation: animate 1s;
    display: block;
}
.box2 h2{
    font-size:40px;
    text-align: center;
    padding-top:30px;
    padding-bottom: 10px;
}
.box2 h6{
    font-weight: 500;
    font-size:20px;
    padding-top:40px;
    margin:10px;
    text-align: center;
    padding: 10px;
    display: none;
    border-radius:25px;
}
.box2.active{
    width: 400px;
    height: 400px;
}
.h62.active{
    animation: animate 1s;
    display: block;
}
hr{
    border:1px solid white;
    margin:auto;
    width: 100%;
    margin-bottom: 40px;
}
.bg_oferta{
    background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(uwu.jpg);
    height: 950px;
}
#oferta{
    height: 950px;
    font-weight: 500; 
}
#of{
    padding-top: 75px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: white;
    margin-bottom:25px;
}
.box4{
    margin-top:200px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    max-width: 1400px;
    height: 400px;
    box-shadow: -3px 3px 10px 2px black;
    border-radius: 25px;
    border:1px solid black;
    color:white;
    transition: transform 0.75s ease;
}
.box4:hover{
    transform: translateY(.35em) scale(1.05);
}

.box4_text{
    margin-top:50px;
}
.box4_text ul li{
    margin-bottom: 25px;
    font-weight: 500;
    margin-left:50px;
}
.box4_img{
    margin-top:40px;
    margin-left:20px;
}
.bg_kontakt{
    background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(springs.jpg);
    height: 950px;
}
#kontakt{
    height: 950px;
}
.box5{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    max-width: 1400px;
}
#kontakt p{
    padding-top:75px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: white;
}
.left{
    display: block;
    color:white;
    margin-top:100px;
    width: 650px;
    height: 400px;
    border-radius: 25px;
    border:1px solid black;
    transition: transform 0.75s ease;
    text-align: center;
    box-shadow: -3px 3px 10px 2px black;
}
.left ul{
    list-style: none;
    transform: translateY(20%);
}
.left ul li{
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.right{
    display: block;
    color:white;
    margin-top:100px;
    width: 650px;
    height: 400px;
    border-radius: 25px;
    border:1px solid black;
    transition: transform 0.75s ease;
    text-align: center;
    box-shadow: -3px 3px 10px 2px black;
}
.right ul{
    list-style:none;
    transform: translateY(20%);
}
.right ul li{
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.left:hover{
    transform: translateY(.35em) scale(1.05);
}
.right:hover{
    transform: translateY(.35em) scale(1.05);
}
.reveal{
    position: relative;
    transform: translatex(-1000px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translatex(0px);
    opacity: 1;
}
strong{
    font-size: 30px;
}
footer{
    display: block;
    width:100%;
    height: 50px;
    background-color: black;
    color:white;
}
footer p{
    text-align: center;
    line-height: 50px;
}
@media only screen and (max-width: 1400px){
    *{
        margin:0;
    }
    .main{
        height: 100%;
        width: 100%;
        /*background-image: url("springs.jpg");*/
        animation: main 3s ease;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .cytat{
        display: block;
        height: 45px;
        width: 750px;
        font-family: 'Satisfy', cursive;
        font-size: 30px;
        margin-left:-70px;
        color:black;
        font-style: italic;
        margin-top:30px;
        opacity: 0.5;
        letter-spacing: 2px;
    }
    .menu ul{
        display:block;
        font-size:20px;
        width: 175px;
        height: 100px;
        letter-spacing: 0px;
        margin-top:5%;
        margin-right:30px;
        box-shadow: 4px 4px 15px black; 
    }
    .menu ul li{
        float: right;
        margin:5px;
    }
    .arrow{
        position: absolute;
        top:70%;
        left:5%;
        transform:translate(-85%, -5%);
    }
    .boxy{
        display: block;
        margin-top: 100px;
    }
    .box,.box1,.box2{
        margin-left:auto;
        margin-right:auto;
        margin-bottom:10px;
    }
    .box4{
        margin-top:200px;
        display: block;
        margin-left:auto;
        margin-right:auto;
        max-width: 540px;
        height: 550px;
        box-shadow: -3px 3px 10px 2px black;
        border-radius: 25px;
        border:1px solid black;
        color:white;
    }
    .box4 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
    .box5{
        display: block;
    }
    .left{
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 500px;
    }
    .left ul{
        transform: translateY(5%);
    }
    .right{
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 500px;
    }
    .right ul{
        transform: translateY(5%);
    }
}