*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
display: none;
}
@keyframes main{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes logoslide {
    0%{
        transform: translateX(-750px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes cytatslide{ 
    0%{
        transform:translateY(-500px);
    }
    100%{
        transform:translateY(0px);
    }
}
@keyframes slide {
    0%{
        opacity: 0;
        transform: translateX(800px);
        
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes scroll{
    0%{
        opacity:0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform: rotate(45deg) translate(10px,10px);
    }
}
@keyframes animate{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.main{
    animation: main 3s ease;
}
#bg{    
    height: 2550px;
}
.logo{
    animation: logoslide 1.5s both;
}
.logo img{
    transform:translateY(-12.5px) ;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 75px;
    line-height: 75px;
}
nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    height: 100%;
    padding: 0 30px;
    animation: slide 2s both;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: rgba(245,110,20,255);
}

nav .nav-list .nav-link {
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.cytat{
    display: block;
    height: 45px;
    width: 850px;
    font-size: 40px;
    color:black;
    font-style: italic;
    opacity: 1;
    letter-spacing: 2px;
    animation: cytatslide 2s both;
    animation-delay: .75s;
    text-shadow: 1px 1px black;
    margin-top:2vw;
    margin-left: 12vw;
}
.arrow{
    position: absolute;
    transform:translate(50px, 600px);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom:5px solid rgba(76,64,140,255);
    border-right:5px solid rgba(76,64,140,255);
    transform: rotate(45deg);
    margin:-5px;
    animation: scroll 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -.2s;
}
.arrow span:nth-child(3){
    animation-delay: -.4s;
}
.baner{
    margin:0;
    padding:0;
    height: 900px;
}
#mid{
    margin:0;
    transform: translateY(5vh);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 2450px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 5px rgba(66, 68, 90, 1);
}
#firma{
    backdrop-filter: blur(7.5px);
    height: 800px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#firma p{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: black;
    padding-top:75px;
}
.boxy{
    display: grid;
    column-gap: 100px;
    justify-content: center;
    grid-template-columns: auto auto auto;
    margin-top:200px;
    height: 400px;
}
.box,.box1,.box2{
    background-color: rgb(235, 145, 85);
    box-shadow: -3px 3px 10px 2px black;
    font-weight: 500;
    width: 22vw;
    height: 105px;
    border-radius:20px;
    transition: 1s ease;
    cursor:pointer;
}
.box:hover, .box1:hover, .box2:hover{
    background-color: rgba(245,110,20, 1);
    color:white;
}
.box_arrow{
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:20px;
    width:20px;
    transition: 0.5s ease;
}
.box_arrow2{
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:20px;
    width:20px;
    transition: 0.5s ease;
}
.xd{
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:20px;
    width:20px;
    transition: 0.5s ease;
}
.xd.active{
    rotate: 180deg;
}
.box_arrow.active{
    rotate: 180deg;
}
.box_arrow1.active{
    rotate: 180deg;
}
.box_arrow2.active{
    rotate: 180deg;
}
.box h2{
    font-size:40px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 10px;
}
.box h6{
    font-weight: 500;
    font-size:20px;
    margin:10px;
    text-align: center;
    display: none;
    border-radius:25px;
}
.box.active{
    height: 400px;
    box-shadow: -3px 3px 10px 2px black;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(v_springs.jpg);
    background-size: cover;
    color:white;
}
.h6.active{
    animation: animate 1s;
    display: block;
}
.box1 h2{
    font-size:40px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 10px;
}
.box1 h6{
    font-weight: 500;
    font-size:20px;
    margin:10px;
    text-align: center;
    padding: 0px;
    display: none;
    border-radius:25px;
}
.box1.active{
    height: 400px;
    box-shadow: -3px 3px 10px 2px black;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(box2.jpg);
    background-size: cover;
    color:white;
}
.h61.active{
    animation: animate 1s;
    display: block;
}
.box2 h2{
    font-size:40px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 10px;
}
.box2 h6{
    font-weight: 500;
    font-size:20px;
    margin:10px;
    text-align: center;
    padding: 0px;
    display: none;
    border-radius:25px;
}
.box2.active{
    height: 400px;
    box-shadow: -3px 3px 10px 2px black;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(c_springs.jpg);
    background-size: cover;
    color:white;
}
.h62.active{
    animation: animate 1s;
    display: block;
}
.hr1{
    border:1px solid black;
    width: 80%;
}
hr{
    border:1px solid white;
    margin:auto;
    width: 100%;
    margin-bottom: 40px;
}
#oferta{
    height: 800px;
    font-weight: 500; 
}
#of{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: black;
}
.box4{
    margin-top:200px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    max-width: 80vw;
    height: 400px;
    box-shadow: -3px 3px 10px 2px black;
    border-radius: 25px;
    border:1px solid black;
    color:white;
    transition: transform 0.75s ease;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(section2.jpg);
    background-size:cover;
}
.box4:hover{
    transform: translateY(.35em) scale(1.05);
}

.box4_text{
    margin-top:50px;
    font-size: 20px;
}
.box4_text ul li{
    margin-bottom: 25px;
    font-weight: 500;
    margin-left:50px;
}
.box4_img{
    margin-top:20px;
    margin-left:20px;
}
.box4_img img{
    max-width: 470px;
}
#kontakt{
    height: 800px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.box5{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    max-width: 80vw;
}
#kontakt p{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: black;
}
.left{
    display: block;
    color:white;
    margin-top:100px;
    width: 34vw;
    height: 400px;
    border-radius: 25px;
    border:1px solid black;
    transition: transform 0.75s ease;
    text-align: center;
    box-shadow: -3px 3px 10px 2px black;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(car_spring.jpg);
}
.left ul{
    list-style: none;
    transform: translateY(20%);
}
.left ul li{
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.right{
    display: block;
    color:white;
    margin-top:100px;
    width: 34vw;
    height: 400px;
    border-radius: 25px;
    border:1px solid black;
    transition: transform 0.75s ease;
    text-align: center;
    box-shadow: -3px 3px 10px 2px black;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(car_spring2.jpg);
}
.right ul{
    list-style:none;
    transform: translateY(20%);
}
.right ul li{
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.left:hover{
    transform: translateY(.35em) scale(1.05);
}
.right:hover{
    transform: translateY(.35em) scale(1.05);
}
.reveal{
    position: relative;
    transform: translatex(-1000px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translatex(0px);
    opacity: 1;
}
strong{
    font-size: 30px;
}
footer{
    display: block;
    width:100%;
    height: 50px;
    background-color: black;
    color:white;
}
footer p{
    text-align: center;
    line-height: 50px;
}


@media only screen and ( max-width: 1399px){
    hr{
        border-bottom: 1px solid black;;
    }
    #bg{
        height: 3550px;
    }
    #mid{
        max-height:3500px;
    }
    #firma p{
        color:black
    }
    #firma{
        height: 1500px;
    }
    .boxy{
        display: block;
        margin-top: 100px;
    }
    .box,.box1,.box2{
        background-color: white;
        width: 90vw;
        height: 400px;
        margin-bottom: 20px;
    }
    .box{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(v_springs.jpg);
        background-size:cover;
        pointer-events: none;
    }
    .box1{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(box2.jpg);
        background-size:cover;
        pointer-events: none;
    }
    .box2{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(c_springs.jpg);
        background-size:cover;
        pointer-events: none;
    }
    .box h2{
        color:white;
    }
    .box h6{
        color:white;
        display: block;
    }
    .box1 h2{
        color:white;
    }
    .box1 h6{
        color:white;
        display: block;
    }
    .box2 h2{
        color:white;
    }
    .box2 h6{
        color:white;
        display: block;
    }
    .box.active{
        width: 90vw;
        height: 400px;
    }
    .box1.active{
        width: 90vw;
        height: 400px;
    }
    .box2.active{
        width: 90vw;
        height: 400px;
    }
    .logo img{
        scale: 0.7;
        margin-left:-63px
    }
    .arrow{
        transform:translate(50px, 600px);
    }
    .cytat{
        display: none;
    }
    .main{
        width: 100vw;
    }
    #mid{
        transform: translateY(1%);
        height: 3600px;
    }
    .box,.box1,.box2{
        margin-left:auto;
        margin-right: auto;
    }
    #oferta p{
        color:black;
    }
    .box4{
        margin-top: 100px;
        width: 90vw;
        max-width: 1400px;
        height: 500px;
        color:white;
        word-wrap: break-word;
    }
    .box4:hover{
        transform: none;
    }
    .box4_img img{
        margin-left:0px;
        width:250px;
    }
    .box4_text{
        width: 95vw;
    }
    #kontakt p{
        padding-top: 0px;
        color:black
    }
    .box5{
        width: 90vw;
        max-width: 1600px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .left{
        margin-right:auto;
        margin-left: auto;
        width: 90vw;
        color:white;
        background-size:cover;
    }
    .left:hover{
        transform: none;
    }
    .right{
        margin-right:auto;
        margin-left:auto;
        width: 90vw;
        color:white;
        background-size:cover;
    }
    .right:hover{
        transform: none;
    }
}
@media only screen and (min-width: 1400px){
    .baner{
        background-image: url("springs.jpg");
    }
}
@media (max-width: 768px){
    hr{
        border-bottom: 1px solid black;;
    }
    .main{
        height: 4600px;
    }
    #mid{
        max-height:3560px;
    }
    #firma p{
        color:black
    }
    .boxy{
        display: block;
        margin-top: 100px;
    }
    .box,.box1,.box2{
        width: 90vw;
        height: 400px;
        margin-bottom: 20px;
        color:white;
        box-shadow: -3px 3px 10px 2px black;
    }
    .box{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(v_springs.jpg);
    }
    .box1{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(box2.jpg);
    }
    .box2{
        background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(c_springs.jpg);
    }
    .box h2{
        color:white;
    }
    .box h6{
        color:white;
    }
    .box1 h2{
        color:white;
    }
    .box1 h6{
        color:white;
    }
    .box2 h2{
        color:white;
    }
    .box2 h6{
        color:white;
    }
    .box.active{
        width: 90vw;
        height: 400px;
    }
    .box1.active{
        width: 90vw;
        height: 400px;
    }
    .box2.active{
        width: 90vw;
        height: 400px;
    }
    .logo img{
        scale: 0.7;
        margin-left:-63px
    }
    .arrow{
        transform:translate(50px, 500px);
    }
    .cytat{
        display: none;
    }
    .main{
        width: 100vw;
    }
    .box,.box1,.box2{
        margin-left:auto;
        margin-right: auto;
    }
    .box_arrow, .box_arrow2{
        display: none;
    }
    .xd{
        display: none;
    }
    #firma{
        height: 1500px;
    }
    #oferta p{
        color:black
    }
    .box4{
        display: block;
        min-height: 600px;
        width: 90vw;
        max-width: 1400px;
        background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(4,9,30,0.7)),url(section2.jpg);
    }
    .box4_text{
        display: block;
        width: 95vw;
        font-size: 15px;
        color:white;
    }
    .box4:hover{
        transform: none;
    }
    .box4_img img{
        display: block;
        transform: translateX(17.5%);
    }
     .box4_text ul li{
      margin-left:0px;
      margin:10px;
}
    #kontakt p{
        padding-top: 0px;
        color:black
    }
    .box5{
        width: 90vw;
        max-width: 1600px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .left{
        margin-right:auto;
        margin-left: auto;
        width: 90vw;
    }
    .left:hover{
        transform: none;
    }
    .right{
        margin-right:auto;
        margin-left:auto;
        width: 90vw;
    }
    .right:hover{
        transform: none;
    }
    nav .nav-list {
        display: grid;
        position: absolute;
        background: rgb(235, 235, 235);
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: 1s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: black;
    border-radius: 10%;
    transition: .1s;
}

input {
    display: none;
}
input:checked ~ nav .nav-list {
    transform: translateY(0%);
    z-index: 0;
}
input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}
