*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
display: none;
}
@keyframes mmain{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes llogoslide {
    0%{
        transform: translateX(-750px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes sshow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes ccytatslide{ 
    0%{
        transform:translateY(-500px);
    }
    100%{
        transform:translateY(0px);
    }
}
@keyframes sslide {
    0%{
        opacity: 0;
        transform: translateX(800px);
        
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes sscroll{
    0%{
        opacity:0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform: rotate(45deg) translate(10px,10px);
    }
}
@keyframes aanimate{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.main{
    animation: main 3s ease;
}
.bg{    
    height: 2900px;
}
.logo{
    animation: logoslide 1.5s both;
}
.logo img{
    transform:translateY(-12.5px) ;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    height: 75px;
    line-height: 75px;
}
nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    height: 100%;
    padding: 0 30px;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background: rgba(245,110,20,255);
}

nav .nav-list .nav-link {
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.cytat{
    font-family: 'Satisfy', cursive;
    display: block;
    height: 45px;
    width: 750px;
    font-size: 40px;
    color:black;
    font-style: italic;
    opacity: 0.5;
    letter-spacing: 2px;
    animation: cytatslide 2s both;
    animation-delay: 2.75s;
    text-shadow: 1px 1px black;
    margin-top:2vw;
    margin-left: 12vw;
}
.arrow{
    position: absolute;
    top:85%;
    left:5%;
    transform:translate(-85%, -5%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom:5px solid black;
    border-right:5px solid black;
    transform: rotate(45deg);
    margin:-5px;
    animation: scroll 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -.2s;
}
.arrow span:nth-child(3){
    animation-delay: -.4s;
}
.baner{
    margin:0;
    padding:0;
    height: 900px;
}
#mid{
    margin:0;
    transform: translateY(5vh);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 2750px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px 5px rgba(66, 68, 90, 1);
}
.bg_firma{
    /*background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(section1.png);*/
    height: 1600px;
    border-radius: 25px;
}
#firma{
    backdrop-filter: blur(7.5px);
    height: 955px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#firma p{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: white;
    padding-top:75px;
}
.boxy{
    display: grid;
    column-gap: 100px;
    justify-content: center;
    grid-template-columns: auto auto auto;
    margin-top:200px;
    height: 400px;
}
.box,.box1,.box2{
    font-weight: 500;
    width: 22vw;
    height: 105px;
    border-radius:20px;
    box-shadow: -3px 3px 10px 2px black;
    color:white;
    transition: 0.75s ease;
    cursor:pointer;
}
.box:hover{
    background-color: rgb(193, 193, 193, 0.3);
}
.box1:hover{
    background-color: rgb(193, 193, 193, 0.3);
}
.box2:hover{
    background-color: rgb(193, 193, 193, 0.3);
}
.box h2{
    font-size:40px;
    text-align: center;
    padding-top:30px;
    padding-bottom: 10px;
}
.box h6{
    font-weight: 500;
    font-size:20px;
    padding-top:40px;
    margin:10px;
    text-align: center;
    padding: 10px;
    display: none;
    border-radius:25px;
}
.box.active{
    width: 400px;
    height: 400px;
}
.h6.active{
    animation: animate 1s;
    display: block;
}
.box1 h2{
    font-size:40px;
    text-align: center;
    padding-top:30px;
    padding-bottom: 10px;
}
.box1 h6{
    font-weight: 500;
    font-size:20px;
    padding-top:40px;
    margin:10px;
    text-align: center;
    padding: 10px;
    display: none;
    border-radius:25px;
}
.box1.active{
    width: 400px;
    height: 400px;
}
.h61.active{
    animation: animate 1s;
    display: block;
}
.box2 h2{
    font-size:40px;
    text-align: center;
    padding-top:30px;
    padding-bottom: 10px;
}
.box2 h6{
    font-weight: 500;
    font-size:20px;
    padding-top:40px;
    margin:10px;
    text-align: center;
    padding: 10px;
    display: none;
    border-radius:25px;
}
.box2.active{
    width: 400px;
    height: 400px;
}
.h62.active{
    animation: animate 1s;
    display: block;
}
hr{
    border:1px solid white;
    margin:auto;
    width: 100%;
    margin-bottom: 40px;
}
.bg_oferta{
    /*background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(uwu.jpg);*/
    height: 950px;
}
#oferta{
    backdrop-filter: blur(7.5px);
    height: 950px;
    font-weight: 500; 
}
#of{
    padding-top: 75px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: white;
    margin-bottom:25px;
}
.box4{
    margin-top:200px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    max-width: 80vw;
    height: 400px;
    box-shadow: -3px 3px 10px 2px black;
    border-radius: 25px;
    border:1px solid black;
    color:white;
    transition: transform 0.75s ease;
}
.box4:hover{
    transform: translateY(.35em) scale(1.05);
}

.box4_text{
    margin-top:50px;
}
.box4_text ul li{
    margin-bottom: 25px;
    font-weight: 500;
    margin-left:50px;
}
.box4_img{
    margin-top:40px;
    margin-left:20px;
}
.box4_img img{
    max-width: 500px;
}
.bg_kontakt{
    /*background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(springs.jpg);*/
    height: 950px;
}
#kontakt{
    backdrop-filter: blur(7.5px);
    height: 950px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.box5{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    max-width: 80vw;
}
#kontakt p{
    padding-top:150px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    color: white;
}
.left{
    display: block;
    color:white;
    margin-top:100px;
    width: 34vw;
    height: 400px;
    border-radius: 25px;
    border:1px solid black;
    transition: transform 0.75s ease;
    text-align: center;
    box-shadow: -3px 3px 10px 2px black;
}
.left ul{
    list-style: none;
    transform: translateY(20%);
}
.left ul li{
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.right{
    display: block;
    color:white;
    margin-top:100px;
    width: 34vw;
    height: 400px;
    border-radius: 25px;
    border:1px solid black;
    transition: transform 0.75s ease;
    text-align: center;
    box-shadow: -3px 3px 10px 2px black;
}
.right ul{
    list-style:none;
    transform: translateY(20%);
}
.right ul li{
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.left:hover{
    transform: translateY(.35em) scale(1.05);
}
.right:hover{
    transform: translateY(.35em) scale(1.05);
}
.reveal{
    position: relative;
    transform: translatex(-1000px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translatex(0px);
    opacity: 1;
}
strong{
    font-size: 30px;
}
footer{
    display: block;
    width:100%;
    height: 50px;
    background-color: black;
    color:white;
}
footer p{
    text-align: center;
    line-height: 50px;
}



@media (max-width: 768px){
    hr{
        border-bottom: 1px solid black;;
    }
    #firma p{
        color:black
    }
    .boxy{
        display: block;
        margin-top: 100px;
    }
    .box,.box1,.box2{
        width: 90vw;
        height: 400px;
        margin-bottom: 20px;
        cursor: none;
        color:black
    }
    .box h6{
        display: block;
    }
    .box1 h6{
        display: block;
    }
    .box2 h6{
        display: block;
    }
    .box.active{
        width: 90vw;
        height: 400px;
    }
    .box1.active{
        width: 90vw;
        height: 400px;
    }
    .box2.active{
        width: 90vw;
        height: 400px;
    }
    .box4_text{
        width: 95vw;
    }
    .logo img{
        scale: 0.7;
        margin-left:-63px
    }
    .arrow{
        top:85%;
        left:15%;
        transform:translate(-85%, -15%);
    }
    .cytat{
        display: none;
    }
    .main{
        width: 100vw;
        height: 100vw;
    }
    .bg{
        height: 3750px;
    }
    #mid{
        transform: translateY(1%);
        height: 3700px;
    }
    .bg_firma{
        height: 1500px;
    }
    .bg_oferta{
        height: 950px;
    }
    .bg_kontakt{
        height: 950px;
    }
    .box,.box1,.box2{
        margin-left:auto;
        margin-right: auto;
    }
    #oferta p{
        color:black
    }
    .box4{
        margin-top: 100px;
        display: block;
        width: 90vw;
        max-width: 1400px;
        color:black
    }
    .box4:hover{
        transform: none;
    }
    .box4_img img{
        margin-left:0px;
        width: 60vw;
    }
    #kontakt p{
        padding-top: 0px;
        color:black
    }
    .box5{
        width: 90vw;
        max-width: 1600px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .left{
        margin-right:auto;
        margin-left: auto;
        width: 90vw;
        color:black;
    }
    .left:hover{
        transform: none;
    }
    .right{
        margin-right:auto;
        margin-left:auto;
        width: 90vw;
        color:black;
    }
    .right:hover{
        transform: none;
    }
    nav .nav-list {
        display: grid;
        position: absolute;
        background: rgb(235, 235, 235);
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: 1s;
    }

    nav .nav-list .nav-item {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
    footer{
        height: 100px;
    }
    footer p{
        line-height: 100px;
        height: 100px;
    }
}

nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: black;
    border-radius: 10%;
    transition: .1s;
}

input {
    display: none;
}
input:checked ~ nav .nav-list {
    transform: translateY(0%);
    z-index: 0;
}
input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}
@media only screen and (max-width: 940px){
    hr{
        border-bottom: 1px solid black;;
    }
    #firma p{
        color:black
    }
    .boxy{
        display: block;
        margin-top: 100px;
    }
    .box,.box1,.box2{
        width: 90vw;
        height: 400px;
        margin-bottom: 20px;
        cursor: none;
        color:black
    }
    .box h6{
        display: block;
    }
    .box1 h6{
        display: block;
    }
    .box2 h6{
        display: block;
    }
    .box.active{
        width: 90vw;
        height: 400px;
    }
    .box1.active{
        width: 90vw;
        height: 400px;
    }
    .box2.active{
        width: 90vw;
        height: 400px;
    }
    .box4_text{
        width: 95vw;
    }
    .logo img{
        scale: 0.7;
        margin-left:-63px
    }
    .arrow{
        top:85%;
        left:15%;
        transform:translate(-85%, -15%);
    }
    .cytat{
        display: none;
    }
    .main{
        width: 100vw;
        height: 100vw;
    }
    .bg{
        height: 3750px;
    }
    #mid{
        transform: translateY(1%);
        height: 3700px;
    }
    .bg_firma{
        height: 1500px;
    }
    .bg_oferta{
        height: 950px;
    }
    .bg_kontakt{
        height: 950px;
    }
    .box,.box1,.box2{
        margin-left:auto;
        margin-right: auto;
    }
    #oferta p{
        color:black
    }
    .box4{
        margin-top: 100px;
        display: block;
        width: 90vw;
        max-width: 1400px;
        height: 500px;
        color:black
    }
    .box4:hover{
        transform: none;
    }
    .box4_img img{
        margin-left:0px;
        width: 60vw;
    }
    #kontakt p{
        padding-top: 0px;
        color:black
    }
    .box5{
        width: 90vw;
        max-width: 1600px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .left{
        margin-right:auto;
        margin-left: auto;
        width: 90vw;
        color:black;
    }
    .left:hover{
        transform: none;
    }
    .right{
        margin-right:auto;
        margin-left:auto;
        width: 90vw;
        color:black;
    }
    .right:hover{
        transform: none;
    }
}
@media only screen and (min-width: 1400px){
    .bg_firma{
        height: 950px;
    }
    .baner{
        background-image: url("springs.jpg");
    }
    .bg_firma{
        background: linear-gradient(90deg, rgba(0,212,255,1)0%, rgba(98,9,121,1) 47%, rgba(2,0,36,1)100%);
        background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(section1.png); 
    }
    .bg_oferta{
        background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(uwu.jpg);

    }
    .bg_kontakt{
        background-image:linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.2)),url(springs.jpg);
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}